<!-- <!DOCTYPE html> -->
<html lang = "en">
<head>
	<meta charset="utf-8">
	<title>HOME PAGE</title>
	<link rel="stylesheet" type="text/css" href="../styles/homepage.css">
	<link href='https://fonts.googleapis.com/css?family=Actor|Tangerine' rel='stylesheet'>
	<link rel="preconnect" href="https://fonts.googleapis.com"> 
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
	<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100&display=swap" rel="stylesheet">
</head>
<body>
	<div class="header">
		<h1>GET ER' DONE</h1>
	</div>
	<ul>
		<li><a href="/">HOME</a></li>
		<li><a href="login">LOGIN</a></li>
		<li><a href="register">SIGN UP</a></li>
		<li><a href = "calendar">CALENDAR</a></li>
		<li style="float:right"><a class="active" href="#about">About</a></li>
	  </ul>
	<br>
	
	<h1 id = "website-name">Welcome!</h1>
	<br>
	<br>
	<p>Welcome to Get 'Er Done, an organizational calendar suited for students looking to organize their
		class, work, and personal schedule! </p>
	<br>
	<br>
	<br>
	<div class = "row" style = "justify-content: center;">
	<div class = "column">
		<a href="login">
		<div class = "card">
			<div class = "card-image"></div>
			<div class = "card-text">
				<h2 id = "card-title">Login<h2>
				<p id = "card-text">Sign into an existing account</p>
			</div>
		</div>
		</a>
	</div>
	<div class = "column">
		<a href="register">
		<div class = "card">
			<div class = "card-image"></div>
			<div class = "card-text">
				<h2 id = "card-title">Sign Up<h2>
				<p id = "card-text">Create a new account</p>
			</div>
		</div>
		</a>
	</div>
	</div>
</body>
<script>src = "scripts.js"</script>
</html>
