.header{
  font-family: 'M PLUS 1', sans-serif;
  letter-spacing: 50x;
  text-align: center;
  color: #c56c3a;
}

body {
  font-family: 'M PLUS 1', sans-serif;
  letter-spacing: 60x;
  text-align: right;
  color: #c56c3a;
  background-color: #fad28d;
}


ul {
  font-family: 'M PLUS 1', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c56c3a;
    letter-spacing: 5px; 
      box-shadow: 5px 5px 15px rgba(66, 66, 64, 0.9);
      font-weight: bold;
  }
  
  li {
    font-family: 'M PLUS 1', sans-serif;
    float: left;
  }
  
  li a {
    font-family: 'M PLUS 1', sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover {
      font-family: 'M PLUS 1', sans-serif;
      color:black;
      cursor: pointer;
  }

  h1 {
    text-align: center;
  }
  
  form {
    text-align: center;
  }
#message p {
  font-size: 15px;
}


/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "\2713";
}


/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: #c56c3a;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "\00D7";
}

input {
  font-family: 'M PLUS 1', sans-serif;
  text-align-last: center;
  text-align: center;
  font-size: 15px;
  color: #c56c3a;
  background-size: 200% auto;        
  box-shadow: 0 0 20px #eee;
  padding: 5px 20px;
}

button{
  font-family: 'M PLUS 1', sans-serif;
  text-align: center;
  font-size: 20px;
  letter-spacing: 10x;
  color: white;
  border-radius: 25px;
  background: white;
  padding: 5px 20px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  background-color: #c6663b;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(66, 66, 64, 0.9);
  cursor: pointer;
  transition: 0.5s;

}

.button:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(66, 66, 64, 0.6);
  color:black;
  cursor: pointer;
}
img {
  text-align: center;
  margin: auto;
  display: block;
  opacity: 70%;
}

#website-name {
  color: white; 
  border-style: solid;
  border-width: 5px;
  width: 400px;
  height: 100px;
  padding: 30px;
  margin: auto;
  top: 20px;
  text-align: center;
  font-family: 'Tangerine', serif;
  font-size: 65px;
  text-shadow: 2px 2px #000000;
  letter-spacing: 5px; 
  background-image: url("../img/3791145.jpg");
  background-size: 480px 180px;
  background-position: center;
  box-shadow: 5px 5px 15px rgba(66, 66, 64, 0.9);
}